@charset "UTF-8";
/* Folha de estilos:
Autor: Maurício Samy Silva
Versões
Data: 26/04/2014 - Redesign do site
*/
/* =CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fim CSS Reset */
/* =GERAL */
*, html, body {
	margin:0;
	padding:0;
	}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px;
	font:  62.5%/1.2 Arial, sans-serif;
	background:
		url(../imagens/gradiente-topo.jpg) center top no-repeat, 
			url(../imagens/gradiente-rodape.jpg) bottom  no-repeat; 
	}
.wf-active body { /* typekit font */
	font-size:68%;
}
/* =ESTRUTURA */
#wrapper {
	width:100%; 
	max-width:1200px;
	margin:0 auto;
	}
header {
	height:45em;
	color:white;	
	}
header h1 {
	width:307px;
	height:86px;
	margin:0;
	font-size:0;
	background: url(../imagens/logo.png) left 2em no-repeat;
	background-size: cover; 
	text-indent:-99999px;
}
header h1 b {
	display:block;
	font-size:0.15em;
	margin-top:-0.5em;
}


header h1 a, header h1 a:visited, header h1 a:active {
	color:rgb(255,255,255)!important;
	cursor:pointer;
}
header h1 a:hover {
	color:rgba(255,255,255,0.7)!important;
}
header h2 {
	font-size:3em;
	line-height:1.66em;
	font-weight:bold;
	margin-top:2em;
	border-left: 8px solid rgb(255,255,255);
	padding: 1.5em 0 1.5em 1em;
}
#header hgroup {
	float:left;
	margin-top:4.5em;
}
#header .widgets-topo {
	float:right;
	margin:5em 1em 0 0;
	}
.social-buttons li {
	float:left;
	margin-right:0.12em;
}
#header form {
	margin-top:2em;
}
#header form input[type="text"] {
	width:21em;
}
#header form input[name="q"] {
	height:3em;
}
#header form input[name="sa"] {
	height:3em;
	width:3em;
	background: rgb(255,255,255) url(../imagens/lupa.png) center no-repeat;
	border:none;
	text-indent:-99999px;
	cursor:pointer; 	
}
.social-buttons li a {
	text-indent:-99999px;
	display:block; 
	margin-right:0.85em; 
	width:40px; 
	height:40px;background:url(../imagens/topo-sociais.png) 0 0 no-repeat;
	}
.social-buttons a.email {background-position: 4px  4px;}
.social-buttons a.twitter {background-position: -46px 4px;}
.social-buttons a.facebook {background-position: -98px 4px;}
.social-buttons a.googleplus {background-position: -146px 6px;}
.social-buttons a.youtube {background-position: -198px 4px;}
.social-buttons a.rss {background-position: -248px 4px;}
.social-buttons a {
-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
}
.social-buttons li a:hover { background-color: rgba(255,255,255,0.2);width:40px;height:40px;}
.banner-topo-adsense {
	text-align:center;
	margin-top:10px;
	}
#pagebody {
	width:100%;
	border:1px solid rgb(215,215,215);
	padding:0 3em;
	margin:4em 0 8em 0;
}
#content {font-size:1.2em;margin:0.5em 1.0em;}
.hcard {
	 margin-left:-2000px; 
	 height: 1px;
}
.addthis.addthis_toolbox {
	margin:1.5em 0;
	padding:3em;
 }
#lateral {
	padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	background:rgb(44,62,80);
	background-image: url(../imagens/icone-menu.png) right 2em no-repeat;
	background-image: -moz-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
			background-image: -webkit-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
					background-image: -o-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
							background-image: -ms-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
								background-image: linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
	}
#lateral:before {
	z-index:1000;
	/* content: "\2263"; */ content: url(../imagens/icone-menu.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
	}
#lateral:hover:before, #lateral:focus:before {
left:-500px
	}
#lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	-moz-transform: translate(320px, 0);
		-webkit-transform: translate(320px, 0);
			-o-transform: translate(320px, 0);
				transform: translate(320px, 0);
	padding-right:0;
	}	
	/* =LINKS */
#content a:link, #content a:visited, #content a:active{
	color:rgb(83,100,116);
	text-decoration:underline;
	}
#content a:hover {
	text-decoration:none; 
	}
#footer a, #footer a:link,  a:visited {
	color:#fff; 
	text-decoration:underline;
	}
#footer a:hover {
	color:rgba(255,255,255,0.8); 
	}
#footer {
	font-size:1.2em;
	text-align:right;
	height:19.1em;
	padding:7em 0 0 0;
	margin-top:2em;
	color:white;	
}
#footer address {
	font-size:1.2em;
	}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#content h1 {
	font-size: 2.5em;
	font-weight:bold;
	border-bottom:1px solid rgb(215,215,215);
	padding:0.2em 0;
	margin:0.6em 0 0 0;
	}
.pub-date {
	display:inline-block;
	width:100%;
	font-size:1.2em;
	font-style:italic;
	line-height:4em;
	margin-top:2em;
	border-left: 4px solid rgb(215,215,215);
	padding-left: 1.5em;
	line-height:1.4;
}
.pub-date:after {
	display:block;
	content: "";
	border-bottom:1px dashed rgb(215,215,215); 
	}
#content h2 {
	font-size:2em;
	font-weight:bold;
	
	margin:1.4em 0 0.7em 0;
	}
#content h3, #content h4 {
	font-size:1.6em;
	font-weight:bold; 
	margin:1em 0 0.5em 0;
	}
#content h4 { font-size:1.6em;}
/* =INTERNA */
#content p { 
	margin:0.5em 0;
	font-size:1.2em; 
	line-height:1.4;
	text-align:justify;
	}
.wf-active #content p { /* typekit font */
	margin:1em 0;
}
#content .credits {
	font-size:1em;
	text-align:left;
	border:1px solid #ededed;
	border-radius: 10px;
	background-color:#fafafa;
	padding:0.5em 0 0.5em 1em;
	line-height:1.2em;
	}
#content p.rev {
	margin-top:1em;
	font-size:1.0em;
	color:#c30;
	border: dotted #d4dde4;
	border-width:1px 0;
	}
#content ul, #content ol {
	margin-left:1em;
	font-size:1.2em;
	}
#content ul li, #content ol li {
	margin-bottom:0.6em;
}
#content ul ul, #content ol ol,
#content ul ol, #content ol ul,
#content ul p, #content ol p {
	 font-size:1em;
	}
#content ul li ul, #content ol li ol {
	 font-size:1em;
	 margin-left:1em;
	}
#content  ul.boxtut, #content  ol.boxtut {
	list-style-position:inside;
	margin-left:0;
	}
#nav, #link {margin:2.0em 0 2.0em 1.0em;}
#lateral dl.botoes {margin-left:-1.0em;}
#lateral ul, #footer ul {
	list-style-type:none;
	} 
#link dt {margin: 1.0em 0 0.6em 0; font-weight:bold;}
#link dd ul li {margin-left: 0.6em;}
div.irtopo {
	border-top-left-radius:0.4em;
	background:rgb(14, 79, 104);
	position:fixed; 
	bottom:0; 
	right:0;
	}
div.irtopo a {display:block ;padding:0.3em 0.5em 0.3em 0.8em; color:rgb(255,255,255)}
div.irtopo a:hover {color:rgba(255,255,255,0.6);}
/* =MENU */
#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid rgb(155,155,155);
	}
ul.invisivel {display:none;}
#menu {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
	}
#menu h3 { } 
h3.link-titulo {
	font-size:1.2em;
	font-weight:bold;
	background: transparent;
}	
#lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
	}
#content .google-adsense span {
	display:block;
	float:left;
	width:336px;
	height:280px;
	margin:0 1em 0.6em 0;
}
#menu .google-adsense .box {
	text-align:center;
	padding-top:1em;
	}
#menu li {padding:0; margin:0;}
#menu li a,  #menu li a:link {
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;
					transition: all 1.2s ease;
	}
#menu li a:hover {
	color:rgb(255,255,255);
	/*background-image: -moz-linear-gradient( 90deg, rgb(53,57,60), rgb(57,77,88) );
			background-image: -webkit-linear-gradient( 90deg, rgb(53,57,60), rgb(57,77,88) );
					background-image: -o-linear-gradient( 90deg, rgb(53,57,60), rgb(57,77,88) );
							background-image: -ms-linear-gradient( 90deg, rgb(53,57,60), rgb(57,77,88) );
								background-image: linear-gradient( 90deg, rgb(53,57,60), rgb(57,77,88) );*/
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}

/* =LIVROS DO MAUJOR */
.livros-maujor { 
	margin:5em 0;
	padding:2em 0 4em 0;
	text-align:center;
	background:rgb(239,237,238);
}
.livros-maujor p {	text-align:center!important;}
.livros-maujor a { margin:0.5em; }
#content .livros-maujor h2 {
	margin:0 0 -0.4em 0;
	}
#content .livros-maujor h2 + p {
	margin-bottom:2em;
	}
/* =FIM LIVROS DO MAUJOR */
#extra {width:480px;position:absolute;top:6px;right:1%;}
/* =LOCAIS */
pre {
	display:block;
	overflow:auto;
	white-space:pre; 
	background-color:#fafafa;
	font: normal 1.2em "Courier New", courier, monospace;
	line-height:1.2em;
	margin:2.0em 0;
	padding:1%;
	border:1px solid #ededed; 
	border-radius:10px; 
	}
.boxtut {
	color:#333;
	background-color:#fafafa;
	font: 1.1em Arial, sans-serif;
	border:1px solid #ededed;
	padding:0.5em 1.0em;
	margin:2.0em 0;
	border-radius:10px;
	}
figure { margin:1.5em 0; }
figcaption { font-size:1.2em;font-style:italic; }
fieldset {width:95%;}
form#busca p {text-align:center; width:95%; margin:0.4em auto;}
form#busca #sbi:focus {background:#eee;}
input#sbi {width:160px;}
form#busca .esconde {display:none;}
form#busca a:hover { background:none;}
code, kbd, samp {
	color:rgba(169,1,75,1);
	font:bold 140% monospace;
	}
.boxtut code {
  font-size: 100%;
}
abbr[title], acronym[title] {
	border-bottom:1px dashed #039;
	cursor:help;
	}
abbr {
	border:none;
	}
acronym {
	border:none;
	}
small {font-size:0.9em;}
dl, dt, dd {font-size: 12px;}

dd {margin-left:1.6em}

q, cite, blockquote {	
	font-style:italic;
	}
q {font-size:1.2em; display:block;}
q, blockquote {	
	background:rgb(239,237,238) url('../imagens/blockquote-quote.png') 0.5em 0.5em no-repeat;
	padding:2.0em 1.0em 2.0em 3.0em;
	margin:2.0em 0;
	}
.nt {color:#cca700; font-style:italic;} 
/* =TABELAS */
table.borda {
border-collapse: collapse;
	 }
table.borda tr td, table.borda tr th {
padding:1px 8px;
border:1px solid #c30;
	 }
/* =UTIL */
.botaomaujor {
	display: inline-block;
	font-size:1.2em;
	text-decoration: none;
	color:rgb(255,255,255);
	background: rgb(11,39,55);
	border-radius: 0.4em;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}
.botaomaujor:hover {
	color:rgba(255,255,255,0.6);
	background-color:rgba(11,39,55,0.6);
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}
.botaomaujor a, .botaomaujor a:visited {
	display: block!important;
	padding:0.5em 1em;
	color: rgb(255,255,255)!important;
	text-decoration: none!important;
}	
.img-left {float:left; margin-right:5px;}
.img-right {float:right; margin-left:5px;}
.fleft {float:left;}
.fright {float:right;}
.dest {font-weight:bold;color:rgb(0,102,0);}
.center {text-align:center;}
img, a img {border:none;}
.clear {clear:both;}
.bordainferior { border-bottom: 1px dotted #ccc; padding-bottom: 0.8em;}
/* =CORES sobre fundo branco ou claro */
.cor-um { color: rgb(0,102,0); } /* verde */
.cor-dois { color: rgb(45,174,191); } /* azul */
.cor-tres, .alerta { color: rgb(169,1,71); font-weight: bold; } /* vinho */
.cor-quatro { color: rgb(255,92,0); } /* laranja */
.cm-topo {
	position:absolute; 
	top:12px; 
	right:12px;
	}
body#index .cm-topo img {
	display:none;
	}
p.variatexto {
	position:absolute;
	right:10px;
	top:45px;
	color:#868b91;
	}
p.variatexto a:hover {background:none;}
.resumo {padding-right:20px;}
/* Livros do Maujor */
.l {float:left;margin-left:2px;margin-bottom:10px;clear:both;}
.r {float:right;margin-right:2px;margin-bottom:10px;}/* GOOGLE */

.left {float:left; margin:0 1em 1em 0;}
.right {float:right; margint:0 0 1em 1em;}

.nav-adsense {
	width:200px;
	margin:20px 0;
	}
.comdisc li:before {
	list-style-type:none;
	content:"\2022";
	color:rgb(14,79,104);
	display:inline-block;
	vertical-align:middle;
	margin-right:0.2em;
}
img{max-width:100%!important;}
#TwitterCounter {margin:0 0 5px 66px;}
/* botoes share */
.addthis_default_style a:hover {background:transparent;}
div.irmenu {
	display:none;
}

@media (max-width: 910px) {
#header form input[type="text"] {
	width:13em; 
}
#header hgroup { margin-top:1.6em;}

/*.social-buttons li a {
	margin-top:-3.9em;
	margin-right:-1.1em; 
	}*/
}
@media (max-width: 810px) {
.banner-topo-adsense {
	margin-top:22em!important;
	}
* {word-wrap:break-word;} 
body {margin-left:0;background-size:100% 28em!important;}
header {height:10em;}
header h2 {
	margin-top:0;
	font-size:1.8em;
	border:none;
	padding:0;
	}
div.irmenu {
	display:block;
	border-bottom-left-radius:0.4em;
	background:rgb(255,255,255);
	position:absolute; 
	top:0; 
	right:0;
	}
div.irmenu a {display:block ;padding:0.4em 0.5em 0.4em 0.8em; color:rgb(0,0,0)}
div.irmenu a:hover {color:rgba(0,0,0,0.6)!important}
.social-buttons {margin-top:1.4em;}
#header form {margin-top:1em;}
#lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:auto;
	width:100%; 
	position:static;
	top:0;
	left:0;
	}
#lateral:before {
	z-index:1000;
	width:0;
	text-align:center;
	content: "";
	font-size:0;
	color:white;
	position:static;
	top:0;
	left:0;
	display:inline-block; 
	}
#lateral:hover, #lateral:focus {
	overflow:scroll;
	-moz-transform: none;
		-webkit-transform: none;
			-o-transform:none;
				transform:none;
	}
div.irtopo a {
	padding:0.6em 0.8em 0.5em 1.2em;
	
}
#menu li a {border-bottom:1px solid #ccc;}
#menu li:first-child a {border-top:1px solid #ccc;}	
}
@media (max-width: 560px) {
body {
	background-size:100% 20em;
	}
#pagebody {padding: 0 2px;}
#content {margin-top:12em;}

#header hgroup {
	float:none;
	margin-top:1em;
}
#header .widgets-topo {
	float:none;
	margin:3em auto 0 auto;
	}
#header form {
	margin-top:1em;
}
.social-buttons li {
	float:left;
}
.banner-topo-adsense, .google-adsense {display:none!important;}

#footer {background:rgb(9,31,44)!important;
}
@media (max-width: 400px) {
#content h1 {
	font-size:1.72em;
}
#content h2 {
	font-size:1.3em;
}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper>object,
.videoWrapper>object>embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
