<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lista_Revisao_Prova/src/Exercicio1/exe1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Exercicio1.exe1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lista_Revisao_Prova"/>
</launchConfiguration>
